.card-container{
    margin: 0 auto;
    
}

.card{
    border: 0;
}


.card-img-top{
   
    width: 100%;
   height:fit-content;
    -o-object-fit: cover;
       object-fit: cover;
       
}
.order-form{
    font-family: 'Great Vibes', cursive;
    font-size:4rem;
    padding-top: 100px;
    font-weight: bold;
}
.summary{
    background-color: rgb(53, 240, 178);
    padding: 30px;
    margin: 30px;
    width: 50%;
}
.quantity-icons{
    /* border: 1px solid blue; */
    border-radius: 50%;
    padding: 3px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    display:inline-block;
    text-align: center;
    margin: 3px;
   
    
}
.quantity-icons:hover{
   
    width: 45px;
    height: 45px;
    font-size: 1.3rem;
   
   
    
}



@media (max-width: 767.98px) { 

    .summary-info-titles{
       display: none;
    }
}